{% extends 'base.html' %}

{% block content %}
<div class="preview-shell">

  <div class="preview-header">
    <h4>{{ doc.title }}</h4>
    <p>{{ doc.get_category_display }}</p>
  </div>

  <div class="glass preview-card">

    {% if preview_type == "image" %}
      <img src="{{ doc.file.url }}" class="preview-image" alt="Document Image">

    {% comment %} {% elif preview_type == "pdf" %}
        <iframe src="{% url 'stream_pdf' doc.id %}" class="preview-pdf"></iframe> {% endcomment %}

    {% elif preview_type == "pdf" %}

      <!-- Desktop PDF Preview -->
      <iframe
        src="{% url 'stream_pdf' doc.id %}"
        class="preview-pdf desktop-only">
      </iframe>

      <!-- Mobile fallback -->
      <div class="mobile-only text-center">
        <p class="text-muted">
          PDF preview is not supported on mobile browsers.
        </p>
        <a href="{% url 'stream_pdf' doc.id %}" target="_blank"
          class="btn btn-outline-accent w-100">
          Open PDF
        </a>
      </div>


    {% else %}
      <p class="text-muted text-center">
        Preview not available for this file type.
      </p>
    {% endif %}

  </div>

  <div class="preview-actions">
    <a href="{% url 'download' doc.id %}" class="btn btn-outline-accent">
      Download
    </a>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">
      Back
    </a>
  </div>

</div>

{% endblock %}
